[server]
port_rpc_admin_local
port_rpc_admin
port_ws_admin

[port_rpc_admin_local]
port = 5005
ip = 0.0.0.0
admin = 0.0.0.0
protocol = http

[port_rpc_admin]
port = 5006
ip = 0.0.0.0
protocol = http
admin = 0.0.0.0

[port_ws_admin]
port = 6006
ip = 0.0.0.0
protocol = ws
admin = 0.0.0.0

[node_size]
small

[node_db]
type=RocksDB
path=/var/lib/rippled/db

[database_path]
/var/lib/rippled/db

[debug_logfile]
/var/lib/rippled/debug.log

[ledger_history]
full

[validation_seed]
ssGADm7BUDmwSWgGXg6iokLGqqHer

[validators_file]
validators.txt

[amendment_majority_time]
15 minutes

[online_delete]
0

[path_search]
7

[path_search_fast]
2

[path_search_max]
10

[rpc_startup]
{ "command": "log_level", "severity": "info" }
{ "command": "feature", "feature": "AMM", "vetoed": false }
#{ "command": "feature", "feature": "Batch", "vetoed": false }  # Batch removed in v3.1.1 due to a bug; will be replaced by BatchV1_1
{ "command": "feature", "feature": "MultiSign", "vetoed": false }
{ "command": "feature", "feature": "ExpandedSignerList", "vetoed": false }
{ "command": "feature", "feature": "NonFungibleTokensV1_1", "vetoed": false }
{ "command": "feature", "feature": "Clawback", "vetoed": false }
{ "command": "feature", "feature": "AMMClawback", "vetoed": false }
{ "command": "feature", "feature": "TokenEscrow", "vetoed": false }
{ "command": "feature", "feature": "PermissionedDEX", "vetoed": false }
{ "command": "feature", "feature": "XChainBridge", "vetoed": false }
{ "command": "feature", "feature": "SingleAssetVault", "vetoed": false }
{ "command": "feature", "feature": "LendingProtocol", "vetoed": false }

[features]
fixAMMv1_3

# amendments 0.30.0 < 2.0.0
TrustSetAuth
MultiSign
FeeEscalation
PayChan
Flow
TickSize
CryptoConditions
CryptoConditionsSuite
Escrow
fix1368
FlowCross
EnforceInvariants
fix1373
fix1201
fix1512
fix1523
fix1528
SortedDirectories
Checks
DepositAuth
fix1513
fix1543
fix1623
fix1571
DepositPreauth
fix1515
XRPFees
DisallowIncoming
fixNonFungibleTokensV1_2
fixTrustLinesToSelf
fixUniversalNumber
ImmediateOfferKilled
fixNFTokenRemint
AMM
Clawback
fixReducedOffersV1
MultiSignReserve
fixTakerDryOfferRemoval
fix1578
fixMasterKeyAsRegularKey
DeletableAccounts
fixCheckThreading
fixPayChanRecipientOwnerDir
fixQualityUpperBound
RequireFullyCanonicalSig
fix1781
fixAmendmentMajorityCalc
HardenedValidations
TicketBatch
FlowSortStrands
fixSTAmountCanonicalize
fixRmSmallIncreasedQOffers
NegativeUNL
CheckCashMakesTrustLine
NonFungibleTokensV1
fixNFTokenDirV1
ExpandedSignerList
fixNFTokenNegOffer
NonFungibleTokensV1_1
fixRemoveNFTokenAutoTrustLine

# 2.0.0 Amendments
XChainBridge
DID
fixDisallowIncomingV1
fixFillOrKill

# 2.1.0 - 2.1.1 Amendments
fixNFTokenReserve
fixInnerObjTemplate
fixAMMOverflowOffer

# 2.2.0 Amendments
fixXChainRewardRounding
PriceOracle
fixEmptyDID
fixPreviousTxnID
fixAMMv1_1

# 2.3.0 Amendments
MPTokensV1
Credentials
NFTokenMintOffer
fixAMMv1_2
fixReducedOffersV2
fixEnforceNFTokenTrustline
fixInnerObjTemplate2
fixNFTokenPageLinks
AMMClawback

# 2.4.0 Amendments
PermissionedDomains
DynamicNFT
fixFrozenLPTokenTransfer
fixInvalidTxFlags
DeepFreeze

# 2.5.0 Amendments
#Batch                          # Removed in v3.1.1 due to a bug; will be replaced by BatchV1_1
PermissionedDEX
TokenEscrow
fixAMMv1_3
fixEnforceNFTokenTrustlineV2
fixPayChanCancelAfter

# 2.6.0 Amendments
fixDirectoryLimit

# 3.0.0 Amendments
fixAMMClawbackRounding
fixIncludeKeyletFields
fixMPTDeliveredAmount
fixPriceOracleOrder
fixTokenEscrowV1

# 3.1.0 Amendments
LendingProtocol
SingleAssetVault

# 3.1.3 Amendments
fixCleanup3_1_3

[network_id]
0

[standalone]
